<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h1> Language list </h1>
<h2> {{.NumberLanguages}} language(s) found </h2>
{{if gt .NumberLanguages 0}}
<table>
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th>Edit</th>
  </tr>
    {{range .Languages}}
  <tr>
    <td>{{.Code}}</td>
    <td>{{.Name}}</td>
    <th><a href="/language/form?code={{.Code}}">Edit</a></td>
  </tr>
    {{end}}
</table>
{{end}}
<a href="/language/form">Create</a>
</br>
</br>
<a href="/student/list">See list student</a>
</body>
</html>