<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h1> Student form </h1>
<form method="POST">
  Id:<br>
  {{if .NewStudent}}
    <input type="text" name="code" value="{{.Student.Id}}">
  {{else}}
    <input type="text" name="code" value="{{.Student.Id}}" readonly>
  {{end}}
  <br>
  First name:<br>
  <input type="text" name="firstName" value="{{.Student.FirstName}}">
  <br>
  Last name:<br>
  <input type="text" name="lastName" value="{{.Student.LastName}}">
  <br>
  Age :<br>
  <input type="text" name="age" value="{{.Student.Age}}">
  <br>
  Prefered Language :<br>
  <select name="language">
    {{$code := .Student.LanguageCode}}
    {{range .Languages}}
      {{if eq .Code $code}}
        <option value="{{.Code}}" selected>{{.Name}}</option>
      {{else}}
        <option value="{{.Code}}">{{.Name}}</option>
      {{end}}
    {{end}}
  </select>
  <th><a href="/language/list">See list languages</a></td>
  <br><br>
  {{if .NewStudent}}
    <input type="submit" formaction="/rest/student" name="action" value="create">
  {{else}}
    <input type="submit" formaction="/rest/student" name="action" value="update">
    <input type="submit" formaction="/rest/student/{{.Student.Id}}" name="action" value="delete">
  {{end}}
  <a href="/student/list">List</a>
</form> 
</body>
</html>